# Домашнее задание Python-3. Работа с циклами и словарями

### Задание 1. Поупражняемся со списками

In [1]:
##### Будем работать с листом lst

lst = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

In [2]:
##############################################   Задание 1.1   #################################################################

### Напишите скрипт, который суvмирует все значения в списке lst. Используйте функцию суммы
lst_sum = sum(lst)
print(lst_sum)

17710

In [3]:
##############################################   Задание 1.2   #################################################################

### Напишите скрипт, который сумvирует все значения в списке lst. Используйте цикл
k = 0
for i in lst:
    k += i
print(k)

17710

In [4]:
##############################################   Задание 1.3   #################################################################

### Напишите скрипт, который перемножает все значения в списке lst. Используйте цикл
new_lst = lst[1:]
val = 1
for i in new_lst:
    val *= i
print(val)

9692987370815489224102512784450560000

In [5]:
##############################################   Задание 1.4   #################################################################

### Напишите скрипт, который выведет самое большое значения в списке lst. Используйте функцию максимум
max_number = max(lst)
print('Самое большее значение в списке lst -', max_number)

Самое большее значение в списке lst - 6765

In [6]:
##############################################   Задание 1.5   #################################################################

### Напишите скрипт, который выведет самое большое значения в списке lst. Используйте цикл
nbz= 0
for i in lst:
    if i > nbz:
        nbz = i
print(nbz)

6765

In [7]:
##############################################   Задание 1.6   #################################################################

### Напишите скрипт, который выведет самое маленькое значения в списке lst. Используйте функцию минимум
min_number = min(lst)
print('Самое маленькое значение в списке lst -', min_number)

Самое маленькое значение в списке lst - 0

In [8]:
##############################################   Задание 1.7   #################################################################

### Напишите скрипт, который выведет самое маленькое значения в списке lst. Используйте цикл
nmz= 0
for i in lst:
    if i < nmz:
        nmz = i
print(nmz)

0

In [9]:
##############################################   Задание 1.8   #################################################################

### Напишите скрипт, который выведет количество элементов в списке lst, которые превышают 1500 (строго). Используйте цикл for
counter = 0
for i in lst:
    if i > 1500:
        counter += 1
print("Количество элементов списка, удовлетворяющих заданному условию:", counter)

Количество элементов списка, удовлетворяющих заданному условию: 4

In [10]:
##############################################   Задание 1.9   #################################################################

###  Напишите скрипт, который возвращает True если список lst пустой, и False если он не пустой. 
###  Используйте функцию длины и логические условия
if len(lst):
    print(False)
else :
    print(True)

False

In [11]:
#############################################   Задание 1.10   #################################################################

### Напишите скрипт, который выводит только только те элементы lst, которые больше тысячи (не строго).
### Используйте цикл.

for i in lst:
    if i >= 1000:
        print(i, end = " ")

1597 2584 4181 6765

In [12]:
##############################################   Задание 1.11   ################################################################

### Напишите скрипт, который выводит только только те элементы lst, которые являютяс нечетными числами.
### Используйте цикл.

for i in lst:
    if i % 2 != 0:
    
        print(i, end = " ")

1 1 3 5 13 21 55 89 233 377 987 1597 4181 6765

In [13]:
nested_list = [['Михаил', 13, 'Spb', False], ['Михаил', 'Шагане', 'Дмитрий', 'Мария'],12, (56, '44'), True]

### Задание 2. Поупражняемся со списками посложнее

In [14]:
##############################################   Задание 2.1   #################################################################

### Напишите скрипт, который возвращает типы данных для каждого элемента внутри списка nested_list
#for item in nested_list:
   # print(isinstance(item, (int, float)))
print(nested_list[0][0], ' ', type(nested_list[0][0])) 
print(nested_list[0][1], ' ', type(nested_list[0][1])) 
print(nested_list[0][2], ' ', type(nested_list[0][2])) 
print(nested_list[0][3], ' ', type(nested_list[0][3])) 

print(nested_list[1][0], ' ', type(nested_list[1][0])) 
print(nested_list[1][1], ' ', type(nested_list[1][1]))
print(nested_list[1][2], ' ', type(nested_list[1][2]))
print(nested_list[1][3], ' ', type(nested_list[1][3]))

print(nested_list[2], ' ', type(nested_list[2]))

print(nested_list[3][0], ' ', type(nested_list[3][0]))
print(nested_list[3][1], ' ', type(nested_list[3][1]))

print(nested_list[4], ' ', type(nested_list[4]))

Михаил   <class 'str'>
13   <class 'int'>
Spb   <class 'str'>
False   <class 'bool'>
Михаил   <class 'str'>
Шагане   <class 'str'>
Дмитрий   <class 'str'>
Мария   <class 'str'>
12   <class 'int'>
56   <class 'int'>
44   <class 'str'>
True   <class 'bool'>

In [15]:
##############################################   Задание 2.2   #################################################################

### Напишите скрипт, который перебирает элементы списка nested_list и возвращает:
###  1. порядковый номер элемента
#i = 0
#while i<len(nested_list):
  #  print(nested_list[i])
   # i +=1
#for i in range(len(nested_list)):
#    print(nested_list[i])
#for i in enumerate(nested_list):
#    print(i[0])

###  2. значение элемента
#print(range(len(nested_list)))
###  Используйте цикл и функцию range

for i in enumerate(nested_list):
    print(i)

(0, ['Михаил', 13, 'Spb', False])
(1, ['Михаил', 'Шагане', 'Дмитрий', 'Мария'])
(2, 12)
(3, (56, '44'))
(4, True)

In [17]:
##############################################   Задание 2.3   #################################################################

### Напишите скрипт, который перебирает элементы списка nested_list.
### Если элемент внутри списка также является списком - то скрипт должен перебрать и его элементы.
### Вам необходимо построить цикл, внутри него условие, и внутри условия еще один цикл.


for i in nested_list:
    if type(i) != list:
        print(i, end = '|' )
    else:
        for j in i:
            print(j, end = '|')

Михаил|13|Spb|False|Михаил|Шагане|Дмитрий|Мария|12|(56, '44')|True|

### Задание 3. Поупражняемся со словарями

In [18]:
employees_0 = {'Bob':'Dev','Albert':'Manager','Victor':'Analyst','Anna':'Analyst'}

In [19]:
##############################################   Задание 3.1   #################################################################

### Выведите имена всех сотрудников, кто не является менеджером. Используйте цикл for с условием внутри.

#for name, job in employees_0.items():
#    print("Сотрудник {} это {}".format(name, job))

#employees_0.items()


for k, v in employees_0.items():
    if v != 'Manager':
        print(k)

Bob
Victor
Anna

In [20]:
##############################################   Задание 3.2   #################################################################

### Посчитайте количество сотрудников-аналитиков. Используйте цикл for с условием внутри.
prof1 = 0
prof2 = 0
for name, prof in employees_0.items():
    if prof == 'Analyst':
        prof1 += 1
    else :
        prof2 += 1
    
print('Количество аналитиков', prof1)
print('Количество других сотрудников', prof2)

Количество аналитиков 2
Количество других сотрудников 2

In [21]:
##############################################   Задание 3.3   #################################################################

### Посчитайте количество сотрудников, которые или являются аналитиками, или их зовут Боб. 
### Используйте цикл for с условием внутри.

for k, v in employees_0.items():
    if v == 'Analyst' or k == 'Bob':
        print(k,v)

Bob Dev
Victor Analyst
Anna Analyst

In [22]:
##############################################   Задание 3.4   #################################################################

##### Изменим немного структуру словаря

employees_1 = {'name':['Bob','Albert','Victor', 'Anna'], 'job':['Dev','Manager','Analyst','Analyst']}

### Выведите профессию первого сотрудника в словаре

#def search(employees_1, lookup):
#    for key, value in employees_1.items():
#        for v in value:
#            if lookup in v:
#                return key
#search(employees_1, 'Dev')

employees_1['job'][0]

'Dev'

In [23]:
##############################################   Задание 3.5   #################################################################

### Выведите количество сотрудников в словаре
#count = 0

#for k, v in employees_1.items():

#    if isinstance(v, list):

#        count += len(v)
#print(count)

len(employees_1['name'])

4

In [24]:
##############################################   Задание 3.6   #################################################################

### Выведите количество сотрудников-аналитиков в словаре. Используйте цикл с условием.
prof1 = 0
for name, prof in employees_0.items():
    if prof == 'Analyst':
        prof1 += 1
        
print('Количество сотрудников-аналитиков:', prof1)

Количество сотрудников-аналитиков: 2

In [25]:
employees_1.items()

dict_items([('name', ['Bob', 'Albert', 'Victor', 'Anna']), ('job', ['Dev', 'Manager', 'Analyst', 'Analyst'])])

## 🎉🎉🎉 Поздравляем, вы великолепны!